<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css"/>
    <title>Apsan's Homepage </title>
</head>
<body>
<div class="welcome-container">
    <div class="welcome-containerimg"></div>
    <div class="welcome-containertitle">
        <img class="welcome-title" src="APSANCENTURY.svg"/>
        <h3 class="welcome-latest"> &#127873 Latest: </h3>
        <!-- https://www.w3schools.com/charsets/ref_emoji.asp -->
        <ul class="welcome-latest-items">
            <li class="welcome-latest-item">
                <a href="#"> Save Soil! </a>
            </li>
            <li class="welcome-latest-item">
                <a href="#">Bipul Chettri - Junkeri Cover Video </a>
            </li>
            <li class="welcome-latest-item">
                <a href="#">Why I love Vim! </a>
            </li>

            <li class="welcome-latest-item">
                <a href="#">Don't take the internet too seriously! </a>
            </li>
        </ul>
    </div>
    <div class="welcome-footer__border"></div>
    <div class="welcome-footer">
        <ul class="welcome-footer__items">
            <li class="welcome-footer__item">
                <a href="https://github.com/apsanedu">Github </a>
            </li>
            <li class="welcome-footer__item">
                <a href="https://www.youtube.com/channel/UCb80-eeczXJYY-y8XjVp-Lg/featured">Youtube</a>
            </li>
            <li class="welcome-footer__item">
                <h4>Scroll down to continue!</h4>
            </li>
        </ul>
    </div>
</div>

<div class="about-me">
    <h1 class="about-me-title">/AboutMe </h1>
    <div class="about-me__background">
        <img alt="Apsan's top-half picture" class="about-me__profile" src="apsan-aboutpic.jpeg"/>

        <div class="about-me__text">
            <p> Hello dearest visitor, Nice to have you here.</p>
            <p> I’m a relatively new self-taught web developer.</p>
            <p> I love efficient and well-designed tools.</p>
        </div>

    </div>

</div>

<div class="projects">
    <h1 class="title"><a href="/projects"> /Projects </a></h1>
    <h3 class="subtitle"> I learn by making things. </h3>
    <ul class="projects-list">
        <li class="projects-listitem">
            <h2 class="project-listitem__title">
                Project Tracker
            </h2>
            <img class="project-listitem__img" src="assets/project-tracker.jpg/>
              <h3 class="project-listitem__subtitle">
            Project Tracker allows you to create a Project Outline and milestones. You can then track your progress in a
            milestone table.
            </h3>
        </li>


        <li class="projects-listitem">
            <h2 class="project-listitem__title">
                Nepali Project
            </h2>
            <img class="project-listitem__img" src="assets/nepali-project.jpg/>
              <h3 class=" project-listitem__subtitle">
            A parent of various social projects for Nepal. It's a long work in progress. </h3>
        </li>

        <li class="projects-listitem">
            <h2 class="project-listitem__title">
                Apsan's Portfolio Site
            </h2>
            <img class="project-listitem__img" src="assets/project-tracker.jpg/>
              <h3 class=" project-listitem__subtitle">
            My 2021's single-page portfolio website. It is not updated anymore.
            </h3>
        </li>
        <li class="projects-listitem">
            <h2 class="project-listitem__title">
                SkillsUSA National Site
            </h2>
            <img class="project-listitem__img" src="assets/project-tracker.jpg/>
              <h3 class=" project-listitem__subtitle">
            A single-page, responsive product website created by Mitch and I for SkillsUSA NATIONALS. We won third place
            in the competition.
            </h3>
        </li>
    </ul>
</div>


<div class="myhobbies">
    <h1>/Hobbies</h1>
</div>
<div class="footer">
    <ul class="footer__items">
        <li class="footer__item">
            <a href="#">About</a>
        </li>
        <li class="footer__item">
            <a href="#">Site Map</a>
        </li>
    </ul>
</div>
<div id="app">

</div>
</body>
</html>
